
header{display: block;}

.page-header{
    background-color: #FFFFFF;
    border-bottom: 1px solid #ececec;
}
.header-container{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}

.link-logo-header{
    color: var(--logo-white-theme-color);
}

.menu-list{
    display: flex;
    align-items: center;
}
.menu-item{
    position: relative;
&:not(:last-child){
    margin-right: 50px;
    }
}

.menu-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: #212121;
padding-top: 32px;
padding-bottom: 32px;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus{
    color: var(--focus-accent-color);
}

&.current{
    color: #2196F3;
}

&.current::after{
    background-color: var(--focus-accent-color);
}
&::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: transparent;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.header-contacts{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
.header-contacts-item:not(:last-child){
    margin-right: 30px;
}

.phone-number{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus{
    color: var(--focus-accent-color);
    }
}

    .header-social-phone{
        margin-right: 10px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--description-text-color);
        .phone-number:focus &,
        .phone-number:hover &{
           fill: var(--focus-accent-color);
        }
    }
    


.email{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    color: #757575;
&:hover,
&:focus{
    color: var(--focus-accent-color);
}
    }

.header-social-email{
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--description-text-color);
.email:focus &,
.email:hover &{
       fill: var(--focus-accent-color);
    }
}