.business-section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
}
.our-business-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.business-section-list{
    display: flex;
    justify-content: space-between;
}

.business-section-list-item{
    position: relative;
}

.bussines-section-image-div{
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.bussines-section-image-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-black-theme-color);
}

.bussines-section-image:not(:last-child){
    margin-right: 30px;
}