
.modal{
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;    
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background-color: #fff;
}

.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus{
        fill: var(--focus-accent-color);
    }
}
