:root{
    --accent-color: #2196F3;
    --description-text-color: #757575;
    --logo-white-theme-color: black;
    --logo-black-theme-color: white;
    --focus-accent-color: #2196F3;
    --buttons-focus-color: white;
    --buttons-background-color: #2196F3;
    --background-color-team-section: #F5F4FA;
    --background-color-social-link: white;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

button {
    cursor: pointer;
  }